#root {
  text-align: center;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  color: black;
  background-color: rgb(211, 208, 208);
  z-index: 1;
  transition-timing-function: ease-in;
  transition: 0.5s;
}

.nav-hidden {
  visibility: hidden;
  transition-timing-function: ease-out;
  transition: 0.5s;
}

h1 {
  margin: 0;
}

.card {
  padding: 2em;
}

.user-card {
  border: 1px solid #ddd;
  border-radius: 7px;
  width: 10vw;
  display: flex;
  justify-content: center;
  margin: 2% auto;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-card:hover {
  border: 1px solid;
}

#very-small-image {
  max-height: 5vh;
}

#small-image {
  max-width: 15vw;
}
#medium-image {
  max-width: 50vw;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
.all-of-them {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.article-list {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap: 20.3px;
  grid-template-columns: repeat(4, 1fr);
}

.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  border-radius: 10.6px;
  min-height: 25vh;
  border: 1px solid #ddd;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.article-card:hover {
  border: 1px solid;
}

.single-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20vw 0 20vw;
  padding: 1rem;
}

@media only screen and (max-width: 1200px) {
  .all-of-them {
    align-items: center;
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #small-image {
    max-width: 40vw;
  }
  .single-article {
    margin: auto;
  }
  .article-list,
  .article-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    min-height: auto;
  }
  .user-card {
    width: 20vw;
    margin: 2% auto;
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    color: black;
  }
  .article-list,
  .article-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    min-height: auto;
  }
  .user-card {
    width: 30vw;
    margin: 2% auto;
    padding: 10px;
  }
}

.comment-list {
  justify-content: left;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}
